.background{
  background-color: #002845 !important;
}

.fullscreen{
  height: 100vh;
  overflow: hidden;
}

.title{
  font-family: 'Montserrat', sans-serif;
  color: #6fccdd;
}

.text{
  color: white;
}